# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
# project
node_modules
themes/custom/my-project/dist/assets/js/*.js
themes/custom/my-project/dist/assets/js/modules/*.js
themes/custom/my-project/dist/assets/stylesheets/*.css
themes/custom/my-project/dist/assets/stylesheets/*.map
themes/custom/my-project/dist/assets/images/**
themes/custom/my-project/dist/*.html
keygit
keygit.pub

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

